<!doctype html>
<h2>Подсчет ведется с отставанием в 24 часа, т.е. сейчас посещения за последние 24 часа не отображаются.</h2>
<br>Эта таблица в течение месяца - просто ориентир, чтобы вы примерно представляли, сколько вам нужно сходить на контент. В конце месяца будет точный подсчет очков и посещений, и если вы не наберете нужное количество очков, то будет кик.
</br>
<br>
Если вам кажется, что какой-то на какой-то контент вы сходили, а он не учтен, напишите <span style="color:#fc0303; font-weight:bold;">@sscv</span> в личку
</br>
<h3>Пояснения по цветам:</h3>
<ul style="list-style-type:none; padding:0;">
  <li><span style="color:#00bfff; font-weight:bold;">Голубой</span> — не требуется набирать очки</li>
  <li><span style="color:#888888; font-weight:bold;">Серый</span> — ливнул</li>
  <li><span style="color:#00ff88; font-weight:bold;">Зелёный</span> — молодец</li>
  <li><span style="color:#ffff00; font-weight:bold;">Жёлтый</span> — почти молодец (набрал ≥50% от цели)</li>
  <li><span style="color:#e0e0e0; font-weight:bold;">Белый</span> — всё остальное</li>
  <li><span style="color:#ffa500; font-weight:bold;">Оранжевый</span> — ментор</li>
  <li><span style="color:#be03fc; font-weight:bold;">Фиолетовый</span> — рекрутер</li>
  <li><span style="color:#fc0303; font-weight:bold;">Красный</span> — офицер</li>
</ul>
<ul style="list-style-type:none; padding:0;">
  <td><a href='https://discordapp.com/channels/1355240968621658242/1369330940551106665' target='_blank'>📗┆правила-посещения</a></td>
</ul>
<table>
  <tr>
    <th>Ник</th>
    <th>нажми на меня</th>
    <th>Количество посещенного контента</th>
    <th>Сумма очков</th>
    <th>Цель (нужно набрать очков в этом месяце)</th>
    <tr style="color: #310036; font-weight: bold; background-color: #999;">
      <td>D9dka</td>
      <td>—</td>
      <td>∞</td>
      <td>∞</td>
      <td>0</td>
    </tr>
    {% for row in rows %}
      {% set color = '' %}
      {% if row['liable'] == 0 %}
        {% set color = '#00bfff' %} {# голубой #}
      {% elif row['liable'] == 2 %}
        {% set color = '#fc0303' %} {# красный #}
      {% elif row['liable'] == 3 %}
        {% set color = '#ffa500' %} {# оранжевый #}
      {% elif row['liable'] == 4 %}
        {% set color = '#be03fc' %} {# фиолетовый #}
      {% elif row['is_member'] == 0 %}
        {% set color = '#888888' %} {# серый #}
      {% elif row['total_points'] >= row['need_to_get'] %}
        {% set color = '#00ff88' %} {# зелёный #}
      {% elif row['total_points'] >= row['need_to_get'] * 0.5 %}
        {% set color = '#ffff00' %} {# жёлтый #}
      {% endif %}
      <tr style="color: {{ color if color else '#e0e0e0' }}">
        <td>{{ row['display_name'] or '—' }}</td>
        <td><a href='{{ url_for('user_detail', uid=row['uid']) }}'>{{ row['uid'] }}</a></td>
        <td>{{ row['event_count'] }}</td>
        <td>{{ row['total_points'] or 0 }}</td>
        <td>{{ row['need_to_get'] }}</td>
      </tr>
    {% endfor %}
</table>
